.floraFauna{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.floraFauna__seccion{
    width: 40rem;
}
.floraFauna__grid{
    display: grid;
    grid: repeat(3, 1fr) / repeat(4, 1fr);
    gap: 2rem;
    align-items: center;
    justify-items: center;
    grid-auto-flow: dense;
}
.floraFauna__card{
    width: 15rem;
    height: 20rem;
    display: flex;
    flex-direction: column;
}
.floraFauna__nombre{
    text-align: center;
    text-transform: uppercase;
}
.floraFauna__img{
    width: 13rem;
    height: 13rem;
}
.logo{
    width: 100%;
    height: 60%;
    grid-column: 2 / 4;
}
@media (max-width: 767px){
   .floraFauna__seccion{
    width: 25rem;
   }
   .floraFauna__grid{
    display: flex;
    flex-direction: column;
   }
   .floraFauna__card{
    width: 37rem;
    height: 15rem;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
   }
   .floraFauna__img{
    width: 18rem;
    margin: 0;
   }
}