:root{
    --colima: orange;
    --oaxaca: red;
    --zacatecas: green;
    --hidalgo: blue;
    --nuevoLeon: black;
    --michoacan: pink;
    --white: #f2f2f2;
    --black: #353535;
}

html{
	box-sizing: border-box; 
	font-size: 62.5%;
}

*, *:before, *:after{
	box-sizing: inherit;
	margin: 0;
	padding: 0;
}

body{
    font-size: 1.6rem;
}

/*utils*/
.margin-bot{
    margin-bottom: 2rem;
}
.retrato{
    padding: 1rem;
    background-color: white;
    border: 2px solid black;
}
.text-center{
    text-align: center;
}
.colima{
    background-color: var(--colima);
}
.oaxaca{
    background-color: var(--oaxaca);
}
.oaxaca:hover{
    background-color: rgb(250, 150, 0);
}
.michoacan{
    background-color: var(--michoacan);
}
.michoacan:hover{
    background-color: rgb(179, 0, 250);
}
.zacatecas{
    background-color: var(--zacatecas);
}
.zacatecas:hover{
    background-color: rgb(0, 250, 21);
}
.hidalgo{
    background-color: var(--hidalgo);
}
.hidalgo:hover{
    background-color: rgb(0, 192, 250);
}
.nuevoLeon{
    background-color: var(--nuevoLeon);
    color: var(--white);
}
.nuevoLeon:hover{
    background-color: rgb(104, 104, 104);
}



.zoom{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60rem;
    overflow: hidden;
}
.zoom img{
    transition: transform .5s;
}

.zoom:hover img{
    transform: scale(1.12);
}